.home {
    height: 90vh;
    width: 100vw;
    /* background-color: blue; */
}
h2,
h1 {    
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    margin: 0;
    padding-top: 30vh;
    padding-right: 50vh;
    color: white;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
.dark-h1 {
    color: #555;
}

.btn:link,
btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight:300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.cats {
    /* float: center; */
    /* padding-top: 30px; */
    padding: 80px 0;
    /* border-bottom: 1px solid #cf6d17; */
    margin: 0;
    /* margin-bottom: 30px; */
    /* padding: 0%; */
}

.top {
    height: 20vh;
    width: 100%;
    background-color:#f8f2f2;
    /* margin: 5vh; */
}

.register {
    margin-left:110px;
    color: #f8f2f2;
}

.sign-in {
    margin-top: 20px;
}

.input {
    width: 110%;
}

.hide-input {
    width: 0px;
    height: 0px;
}

.hide-sign-in {
    height: 0%;
    width: 0%;
}

@media (max-width: 730px) {
    h1 {
        font-size: 25px;
        margin: 10px;
    }
}

@media (max-width: 610px) {
    h1 {
        font-size: 20px;
        margin: 10px;
    }
}

/* @media (max-width: 520px) {
    h1 {
        font-size: 20px;
        margin: 10px;
    }
} */