 /* .app { */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),(bg-masthead.jpg); */
    /* background-size: cover;
    background-position: center;
  
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-attachment: fixed
  } */

  .app {
      height: 10vh;
      width: 100vw;
      border-bottom: 2px solid rgb(162, 167, 214);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: baseline;
      align-content: stretch;
  }
  
  h3 {    
      font-weight: 300;
      text-transform: uppercase;
      /* margin: 0; */
      /* margin-bottom: 20px; */
      /* margin-left: 5vh; */
      color: #fff;
      font-size: 150%;
      word-spacing: 4px;
      letter-spacing: 1px;
  }

  .nav-bar {
    /* padding-top: 40px; */
    /* padding-left: 15px; */
    /* padding-left: 10vw; */
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-between;
  }

  /* .App-header {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    width: 100vw;
    height: 50px;
    align-items: center;
  } */

  .logo-text {
    color: white;
  }

  .nav-item {
    margin-left: 15px;
  }

  .links {
    /* padding-left: 100vh; */
    color: white;
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: baseline;
      align-content: stretch;
  }

  @media (max-width: 512px) {
    h3 {
      font-size: 16px;
    }
  }