 /* .app { */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),(bg-masthead.jpg); */
    /* background-size: cover;
    background-position: center;
  
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-attachment: fixed
  } */

  .app {
      height: 10vh;
      width: 100vw;
      border-bottom: 2px solid rgb(162, 167, 214);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: baseline;
      align-content: stretch;
  }
  
  h3 {    
      font-weight: 300;
      text-transform: uppercase;
      /* margin: 0; */
      /* margin-bottom: 20px; */
      /* margin-left: 5vh; */
      color: #fff;
      font-size: 150%;
      word-spacing: 4px;
      letter-spacing: 1px;
  }

  .nav-bar {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-between;
  }

  .logo-text {
    color: white;
  }

  .nav-item {
    margin-left: 15px;
  }

  .links {
    /* padding-left: 100vh; */
    margin-right: 130px;
    color: white;
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: baseline;
      align-content: stretch;
  }

  .mobile-nav {
    color: white;
    margin-top: 50px;
    margin-right: 100px;
    position: absolute;
    top: 5vh;
    right: 10vw;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 40vh;
    justify-content: space-evenly;
    /* padding: 15px; */
    /* padding-left: 50px; */
    overflow: hidden;
    opacity: 100;
    transition: all 500ms;
    z-index: 5;
  }

  .mobile-nav-hide {
    height: 0;
    padding: 0;
    opacity: 0;
  }

  .hamburger {
    height: 80%;
    display: none;
  }

  @media (max-width: 700px) {
    .links {
      display: none;
      
    }

    .hamburger {
      display: inline-block;
      margin-right: 100px;
    }
  
    /* h3 {
      font-size: 16px;

    } */
  }

  @media (max-width:470px) {
    .hamburger {
      display: inline-block;
      margin-right: 50px;
    }

    .mobile-nav {
      margin-right: 30px;
    }
  }

  @media (max-height: 360px) {
    .mobile-nav {
      height: 80vh;
      /* background-color: beige; */
      justify-content: center;

    }

    
}